{% extends '::layout/admin_base.html.twig' %}

{% block content -%}
    <h1>Department list</h1>

    <table class="records_list table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('department_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('department_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}